data/*
training/data
training/exp
training/mfcc
main/decode/output
*.pyc
main/session_counter.txt
*.DS_Store
main/i3blocks_text.txt
*.jpg
*.wav
data_creation/recording_list.txt
main/recording_list.txt
data_creation/recording_list_counter.txt
research/

training/data
training/utils
training/steps
main/decode/data
main/decode/model
.#INSTALL.md
